# Build artifacts
*.pdf
*.aux
*.log
*.out
*.toc
*.idx
*.ind
*.ilg
*.lol
*.dvi
*.ps
texput.log

# API caches
data/

# Generated .tex files
livres/genesis/
livres/exodus/
livres/leviticus/
livres/numbers/
livres/deuteronomy/
livres/joshua/
livres/judges/
livres/ruth/
livres/1samuel/
livres/2samuel/
livres/1kings/
livres/2kings/
livres/1chronicles/
livres/2chronicles/
livres/ezra/
livres/nehemiah/
livres/esther/
livres/job/
livres/psalms/
livres/proverbs/
livres/ecclesiastes/
livres/songofsolomon/
livres/isaiah/
livres/jeremiah/
livres/lamentations/
livres/ezekiel/
livres/daniel/
livres/hosea/
livres/joel/
livres/amos/
livres/obadiah/
livres/jonah/
livres/micah/
livres/nahum/
livres/habakkuk/
livres/zephaniah/
livres/haggai/
livres/zechariah/
livres/malachi/
livres/matthew/
livres/mark/
livres/luke/
livres/john/
livres/acts/
livres/romans/
livres/1corinthians/
livres/2corinthians/
livres/galatians/
livres/ephesians/
livres/philippians/
livres/colossians/
livres/1thessalonians/
livres/2thessalonians/
livres/1timothy/
livres/2timothy/
livres/titus/
livres/philemon/
livres/hebrews/
livres/james/
livres/1peter/
livres/2peter/
livres/1john/
livres/2john/
livres/3john/
livres/jude/
livres/revelation/
livres/color_index.tex
livres/old_testament.tex
livres/new_testament.tex
livres_esv/

# Environment / secrets
.env

# Test files
fntest*
